@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-color: #edd263;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*  */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
/* .meal-search cite{
    font-size: 1rem;
} */
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid chocolate;
    color: magenta;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: tomato;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: tomato;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.search-btn:hover{
    background: tomato;
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 40px gray;
    margin: 2rem 1rem;
    background-color: #fff;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
#meal-details-content{
    
   position: relative;
    margin: 2rem 5rem;
    border-radius: 1rem;
   
    height: 90%;
    
    
    background-color: #cbcfd3;
}
#meal-details-content img{
    border-radius: 1rem;
    margin-top: 1.3rem;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
}
#meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.recipe-category{
    font-weight: 600;
    color: honeydew;
    background: green;
    display: inline-block;
    padding: .2rem .5rem;
    border-radius: .3rem;
}
.recipe-instruction{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 50vh;
    /* height: 50%; */
    border-radius: 40%;
}
.recipe-order{
    margin: 1.4rem 0;
}
.recipe-order button{
    font-size: 1.2rem;
    font-weight: 700;
    border: darkcyan;
    background-color: lightsalmon;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}